.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 142px;
    width: 100%;
    padding: 9.86%;
  }

  .card {
    box-sizing: border-box;
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 16px;
    gap: 12px;
    max-width: 1156px;
    height: 496px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin: 0 auto;
  }

  .card img {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
  }