.popup {
  display: none;
}

.hamburger {
  display: none;
}

.hamburger li {
  list-style-type: none;
}

.header-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 44px;
  width: 100%;
  max-width: 1290px;
  height: 7vh;
}

.nav-link {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.nav-link a {
  color: #344563;
  margin: 10px 12px;
  cursor: pointer;
  text-decoration: none;
}

.nav-link a:hover {
  color: #6070ff;
}

.hero {
  background-image: url(../assets/bg_desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 30%;
  background-color: #fff;
  border-radius: 0 0 0 88px;
  padding: 48px;
  height: 92.16vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  max-width: 1290px;
}

.hero-container h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #172b4d;
  animation: intro-animation 0.8s ease-out forwards;
}

.content {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  text-align: left;
  margin-bottom: 25px;
}

.let_connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  list-style-type: none;
  width: 170.17px;
}

.m-img {
  display: none;
}
