.D-popup-hero {
  width: 100%;
  display: none;
  margin: 0 auto;
  background-image: url(../assets/bg_desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.D-pop-card {
  padding: 11px 114px;
  backdrop-filter: blur(5px);
  width: 100%;
}

.D-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  background-color: #fff;
  padding: 24px;
  padding-bottom: 111px;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  margin: 0 auto;
  max-width: 1200px;
}

.D-popup-img {
  width: 100%;
  height: auto;
}

.D-h3and {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  padding-top: 31px;
}

.TnA {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.TnA ul {
  width: 306px;
  list-style-type: none;
}

.tech {
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}

.line {
  height: 17px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line div {
  border: 1px solid #ebecf0;
  width: 100%;
}

.D-action {
  display: flex;
  gap: 12px;
}

.article {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  max-height: 400px;
  overflow-y: auto;
}

.article::-webkit-scrollbar {
  width: 8px;
}

.article::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 4px; 
}

.article::-webkit-scrollbar-thumb:hover {
  background-color: #6070ff;
}

.article::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.article::-webkit-scrollbar {
  width: 4px;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 9px;
  gap: 8px;
  list-style-type: none;
  height: 56px;
  width: 311px;
}

.action-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 142px;
  height: 40px;
}

.action-btn p {
  color: #396df2;
  font-weight: 500;
  line-height: 20px;
}

.action-btn .action-img {
  width: 18px;
  height: auto;
}

.btn a {
  color: #6070ff;
}

.tags li a {
  color: #6070ff;
}

.D-X {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.D-popup-cancel {
  margin-top: 15px;
  margin-right: 5px;
  cursor: pointer;
}
