.D-popup-hero {
    width: 100%;
    width: 100%;
    /* position: absolute;
    top: 0%;
    left: 0%; */
    /* display: none; */
    background-image: url(../assets/bg_desktop.svg);
    background-repeat: no-repeat;
    background-position: contain;
    background-position-y: 30%;
    /* padding: 77px 142px; */
    display: flex;
    flex-direction: column;
    gap: 142px;
    width: 100%;
    padding: 9.86%;
    margin: 0 auto;
    max-width: 1600px;

}

.D-popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background-color: #fff;
    padding: 24px;
    width: 100%;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
}

.D-popup-img {
    width: 100%;
    height: auto;
}

.D-h3and {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.TnA {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.TnA ul {
    width: 306px;
    list-style-type: none;
}

.tech {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    list-style-type: none;
}
  
  .line {
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .line div {
    border: 1px solid #ebecf0;
    width: 100%;
  }

  .D-action {
    display: flex;
    gap: 12px;
  }
  
  .article {
    font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #344563;
  }
  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 9px;
    gap: 8px;
    list-style-type: none;
    height: 56px;
    width: 311px;
  }
  
  .action-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 142px;
    height: 40px;
  }
  
  .action-btn p {
    color: #396df2;
    font-weight: 500;
    line-height: 20px;
  }
  
  .action-btn .action-img {
    width: 18px;
    height: auto;
  }
  
  .btn a {
    color: #6070ff;
  }
  
  .tags li a {
    color: #6070ff;
  }