.aboutme {
    display: grid;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    background-color: #fff;
    border-radius: 0 88px 0 0;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0.1, 0);
  }
  
  