.about {
  background-color: #fff;
  border-radius: 0 88px 0 0;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0.1, 0);
}

.aboutme {
  width: 80.21%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: auto auto;

}

.aboutme-header {
  width: 311px;
  /* height: 360px; */
  margin-top: 166px;
  margin-bottom: 191px;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
}

.aboutme > ul {
  width: 684px;
  height: 360px;
  margin-top: 142px;
  margin-bottom: 166px;
  display: flex;
flex-direction: column;
padding: 0px;
}