
/* CSS for desktop devices */
@media screen and (min-width: 768px) {
    /* Your CSS styles for desktop devices go here */
    /* CSS for mobile devices */

@media screen and (min-width: 100%) {

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins";
    font-style: normal;
  }
   
  .nav-container {
    height: 48px;
    /*background: rgb(255, 221, 127);*/
  }

  .wrapper {
    max-width: 768px; 
    margin: 0 auto;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

nav .logo {
  width: 76px;
  height: 20px;
  line-height: 20px;
}

header {
  padding-top: 20%;
}

header .content p:last-of-type {
  color: #7F8CFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  bottom: 18.88%;
}
  }
  