.bg {
  z-index: -1;
}

.bgA {
  position: absolute;
  top: 60px;
  left: 0%;

  /* background-image: url('./images/background/1/Rectangle6.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.bgA img:nth-child(2) {
  position: absolute;
  left: 0%;
  bottom: 0;
}

.bgB {
  position: absolute;
  left: 36.7%;
  width: 24px;
  height: 21px;
  top: 104px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* elipse */
.bgB img:nth-child(2) {
  position: absolute;
  top: 9px;
  left: 1px;
}

.bgC {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  right: -10px;
  top: 98.5px;

  /* Primary/B50 */

  background: #ebebff;
  transform: rotate(-30deg);
}

.bgC1 {
  position: absolute;
  top: 108.24px;
  right: 0;
}

.bgD {
  border-radius: 50%;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 79.47%;
  top: 271px;
  background: #fff;
  border: 1px solid #cbcdff;
}

.bgE {
  position: absolute;
  right: 33.24px;
  top: 502.69px;
}

.bgE1 {
  position: absolute;
  border-radius: 50px 50px 0 0;
  width: 30.1px;
  right: 60px;
  top: 519px;
}

.bgF {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 601px;
  background: #fff;
  border: 1px solid #cbcdff;
}

.bgG {
  position: absolute;
  width: 69px;
  height: 60px;
  left: 51.152%;
  top: 613px;
}

.bgG div:first-child {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 3px;
  background: #6070ff;
}

.bgG div:last-child {
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  bottom: 0;
  background: #ebebff;
  transform: rotate(23.34deg);
}
