
.bgA {
    position: absolute;
    top: 60px;
    left: 0%;
    /* background-image: url('./images/background/1/Rectangle6.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgA img:nth-child(2) {
    position: absolute;
    left: 0%;
    bottom: 0px;

  }


.bgB {
    position: absolute;
    left: 36.7%;
    width: 24px;
    height: 21px;
    top: 104px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* elipse */
.bgB img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 2px;
  }


