.aboutme {
    display: grid;
align-items: center;
padding: 114px 24px;
gap: 24px;   
background-color: #fff;
border-radius: 0 88px 0 0; 
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0.1, 0);
}

.aboutme-header {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
width: 100%;
}

.aboutme-header h1 {
    font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #172B4D;
}

.aboutme-header p {
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;
}

.letcon {
    display: flex;
flex-direction: column;
justify-content: space-between;
gap: 16px;
}

.lang-container {
    display: grid;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    align-items: center;
}

.h3-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.h3-container h3 {
    text-align: center;
    font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 0;
}

.lang-group {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    padding: 12px;
    gap: 12px;
    width: 100%;
}

.lang {
    background-position: 0 center;
    background-repeat: no-repeat;

    height: 66.72px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #F7F7F9;
    width: 100%;
}

.js {
    background-image: url(../assets/JS.svg);
}

.html {
    background-image: url(../assets/HTML.svg);
}

.css {
    background-image: url(../assets/CSS.svg);
}

.lang p {
    padding-left: 70px;
    width: 100%;
}

.about-frame {
    display: flex;
    flex-direction: column;
    gap: 0;

}

.box {
    height: 72px;
    border-bottom: 1px solid #c6d2e7;
    padding-right: 20px;
}

ion-icon {
    color: #505F79;
    font-size: larger;
}

.contactme {
    background-color: #fff;
}

.contactme-container {
    width: 100%;
    background: #6070FF;
    border-radius: 88px 0 0 0;
    background-image: url(../assets/bg2.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.contactme-container h3 {
    padding-top: 114px;
    color: #fff;
font-weight: 700;
font-size: 40px;
line-height: 52px;
}

.contactme-container p {
    font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #EBEBFF;
}

.input-container {
    display: grid;
    gap: 20px;
    
}

/* .fname {
    padding-top: 52px;
    height: 48px;
    width: 100%;
} */

/* .contactme-container {
    padding-top: 52px;
    height: 48px;
} */